// main: pdf.scss

//
// Borders
//

.border {
    th, td {
        border: 1px solid $color-black;
    }
}

.border-top {
    border-top: 1px solid $color-black;

    th, td {
        border-top: 1px solid $color-black;
    }
}

.border-bottom {
    border-bottom: 1px solid $color-black;

    th, td {
        border-bottom: 1px solid $color-black;
    }
}

.border-left {
    border-left: 1px solid $color-black;

    th, td {
        border-left: 1px solid $color-black;
    }
}

.border-right {
    border-right: 1px solid $color-black;

    th, td {
        border-right: 1px solid $color-black;
    }
}
