// main: pdf.scss

//
// Variables
//

//
// Colors
//

$color-black: #000;
$color-red:   #dc3545;
$color-green: #28a745;

//
// Sizes
//

$size-2xs: 8px;
$size-xs:  9px;
$size-sm:  10px;
$size-md:  11px;
$size-lg:  12px;
$size-xl:  14px;
